{% extends "base.html" %} {% block title %} {{ data.name }} - Tasks{% endblock %}
{% block content %}
    <h3 align="center">{{ data.name }}</h3>

    <table id="tasks" class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Task Name</th>
            <th>Pipeline Step</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Duration</th>
        </tr>
        </thead>
        <tbody>
        {% for task in data.tasks %}
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{ task['content'] }}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{ task['step']['name'] }}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{ task['start_date'] }}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{ task['due_date'] }}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{ task['duration'] }}</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block scripts %}
    <!-- Custom Scripts -->
    <script>
        $(document).ready(function () {
            $('#tasks').DataTable({
                dom: "<'row'<'col-sm-4'l><'col-sm-4'i><'col-4'f>>" + "<'row'<'col-12'tr>>" + "<'row'<'col-4'><'col-4'><'col-4'p>>",
                lengthMenu:     [[10, 20, 50, -1], [10, 20, 50, "All"]],
                pagingType: 'full_numbers',
            });
        });
    </script>
{% endblock %}